.main {
    background-color: rgb(243, 245, 255);
    min-height: 80vh;
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 130px;
}