.footer {
    width: 100%;
    min-height: 10vh;
    background-color: #64c8cd;
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}